.img{
width:1280px;
height:720px;
background:url("bg.jpg")
}

.img:hover{

animation:myfirst 0.1s linear;
-webkit-animation:myfirst 0.1s linear;
box-shadow:rgba(0,0,0,0.2) 960px 960px inset;
}

@keyframes myfirst
{
0%{
box-shadow:rgba(0,0,0,0) 960px 960px inset;
}
100%{
box-shadow:rgba(0,0,0,0.2) 960px 960px inset;
}
}

@-webkit-keyframes myfirst
{
0%{
box-shadow:rgba(0,0,0,0) 960px 960px inset;
}
100%{
box-shadow:rgba(0,0,0,0.2) 960px 960px inset;
}
}